<a href="https://colab.research.google.com/github/riccricc91/Tutorial/blob/master/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
################################################################################
# 
#
#                            Tutorial python
#
#
################################################################################

In [2]:
#Tipi
x1 = 100
x2 = 100.0
x3 = "casa"

print(type(x1))
print(type(x2))
print(type(x3))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
#Conversione da decibae a binario o esadecimale
print(bin(x1))
print(hex(x1))

0b1100100
0x64

In [4]:
#Interpolazione di stringhe
titolo = "Isola misteriosa"
autore = "Cesare"

print(f"Titolo: {titolo}, Autore: {autore}" )
print(f"Titolo: {titolo.upper()}, Autore: {autore}")

Titolo: Isola misteriosa, Autore: Cesare
Titolo: ISOLA MISTERIOSA, Autore: Cesare

In [5]:
#Liste
myList1 = [20, 30, 40]
myList2 = [[1,2],[2,3]]

print(myList1)
print(myList2)

[20, 30, 40]
[[1, 2], [2, 3]]

In [6]:
#Sostituire un valore in una lista
myList2[1][1] = 300
print(myList2)

[[1, 2], [2, 300]]

In [7]:
#Inserire un valore in una lista
print(myList1)
myList1.insert(2,200)
print(myList1)

[20, 30, 40]
[20, 30, 200, 40]

In [8]:
#Append
print(myList1)
myList1.append(101)
print(myList1)

[20, 30, 200, 40]
[20, 30, 200, 40, 101]

In [9]:
#Eliminare un valore da una lista
print(myList1)
del myList1[2]
print(myList1)

[20, 30, 200, 40, 101]
[20, 30, 40, 101]

In [10]:
#interrogo la lista
101 in myList1

True

In [11]:
#Definire gli elementi di un tupla
myTupla = 'cane', 'lupo', 'orso' 
a,b,c = myTupla
print(myTupla)
print(a)
print(b)
print(c)

('cane', 'lupo', 'orso')
cane
lupo
orso

In [12]:
#Definire un dizionario
myDict = {
    "juventus" : 40,
    "inter": 10,
    "milan": 3
}

myDict['juventus']

40

In [13]:
#Cambiare il valore associato a una chiave
myDict['juventus'] = 10
myDict['juventus']

10

In [14]:
#Eliminare la chiave di un dizionario
del myDict['inter']
myDict

{'juventus': 10, 'milan': 3}

In [15]:
#Interrogare un dizionario
"juventus" in myDict

True

In [16]:
#Clear del dizionario
myDict.clear()
myDict

{}

In [17]:
#Insiemi
mySet1 = {10, 20, 30, 40, 50, 60} 
mySet2 = {10} 
print(mySet1)
print(mySet2)

{40, 10, 50, 20, 60, 30}
{10}

In [18]:
#Aggiungere un elemento a un insieme
print(mySet1)
mySet1.add(70)
print(mySet1)

{40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}

In [19]:
#Operazioni tra gli insiemi
print(mySet1 & mySet2)
print(mySet1 | mySet2)
print(mySet1 - mySet2)
print(mySet1 ^ mySet2) #or esclusivo

{10}
{50, 20, 70, 40, 10, 60, 30}
{70, 40, 50, 20, 60, 30}
{70, 40, 50, 20, 60, 30}

In [20]:
x = int(input("Inserire numero "))
print(x)

Inserire numero 5
5

In [21]:
#Ciclo if
if x<10:
  print("minore di 10")
else:
  print("maggiore di 10")

minore di 10

In [22]:
#Ciclo while
while x<20:
  print(x)
  x +=1
  if x >=20:
    print ("exit")
    break

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
exit

In [24]:
while True:
  x1 = int(input("Inserire numero "))
  if x1 > 3:
    break

Inserire numero 1
Inserire numero 2
Inserire numero 1
Inserire numero 4

In [25]:
#for
myList = [1,20,3,4]
myString = 'casa'
myict = {'a':10, 'b':20}

In [26]:
for i in myList:
  print (i)

1
20
3
4

In [27]:
for i in myString:
  print (i)

c
a
s
a

In [28]:
for i in myict: #in questo casa vedo le chiavi
  print (i)

a
b

In [29]:
for i in myict.values(): #in questo casa vedo i valori
  print (i)

10
20

In [30]:
for i in myict.items(): #in questo casa vedo i valori e le chiavi
  print (i)

('a', 10)
('b', 20)

In [31]:
for i in range(10,16,2):
  print(i)

10
12
14

In [32]:
#Comprension
numbers = [1,2,3,4,5,6,7,8]
[n*n for n in numbers if n%2==1]

[1, 9, 25, 49]

In [ ]:
#dict comprension da fare

In [33]:
# create list of fruits
fruits = ['apple', 'mango', 'banana','cherry']
# dict comprehension to create dict with fruit name as keys
{f:len(f) for f in fruits}

{'apple': 5, 'banana': 6, 'cherry': 6, 'mango': 5}

In [34]:
a = 'casa'

In [35]:
{k for k in a}

{'a', 'c', 's'}

In [36]:
def myFunc(a,b,*args):
  print(a,b,args)

In [37]:
myFunc(1,2,3,4,5)

1 2 (3, 4, 5)

In [38]:
def myFunc1(**kwargs):
  print(kwargs)

In [39]:
myFunc1(a=3,b=4,c=5)

{'a': 3, 'b': 4, 'c': 5}

In [40]:
#Definizione di una funzione
def sum(a,b):
  c = a+b
  return c

sum(3,4)

7

In [41]:
#Funzione lambda
f = lambda a,b: a**b

f(2,3)

8